body{
  background: #3d3e3f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  align-self: center;
  background-color: #aaa;
  min-width: 370px;
  max-width: 480px;
  max-height: 720px;
  margin-top: 30%;
  padding: 30px;
}
