
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Abarca todo el ancho de la pantalla */
    height: 100%; /* Abarca todo el alto de la pantalla */
    background-color: rgba(200, 200, 200, 0.8); /* Fondo gris claro transparente */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    background-color: #fff; /* Color de fondo del div */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
}

.taskLabel{
    font-size: medium;
    margin-bottom: 20px;
    padding: 10px;
}

.input-task{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: calc(
      100% - 50px
    );
}



.save-task{
    margin-top: 10px;
    padding: 10px;
    background-color: #5fbae9;
    color: #fff;
    border: 0;
    border-radius: 10px;
}

.save-task:hover{
    background-color: #519dc4;
}

.cerrar {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.cerrar:hover {
    color: darkred;
}
